*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #595959;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Work Sans', sans-serif;
  color: #191919;
  font-weight: 500;
}